*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins";
    font-weight: 100;
}

html,body{
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
    background-color: #fbc531;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.row{
    width: 70%;
    height: 30%;
    margin-bottom: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.row input{
    outline: 2px solid #000;
    font-size: 25px;
    padding: 5px;
    border-radius: 1vmin;
    border: none;
}

.row:nth-child(2) {
    flex-direction: column;
}

.row div{
    margin: 10px;
    font-size: 20px;
    text-align: center;
}

.row div img{
    width: 150px;
    object-fit: cover;
}